<div class="container-fluid" ng-controller="LandingPageCtrl">
<div class="row">
	<div class="col-md-4"></div>
  	<div class="col-md-4">
		<h1>Virtual Care Assistant</h1>
  	</div>
 	<div class="col-md-4"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <form role="form">
	<input type="email" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="email">
	<input type="password" class="form-control" placeholder="Password" required="" ng-model="password">	
	<button class="btn btn-lg btn-primary btn-block" ng-click="authenticate()" type="submit">Login</button>
    <a href="#/registerUser"> Don't have an account? Click here to register!</a>
 </form>
 </div>
 <div class="col-md-4"></div>
</div>
</div>