<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homecare.VCA">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewHolder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewHolder.HomeCare" />
        <activity android:name=".viewHolder.Management" />
        <activity android:name=".viewHolder.Medical" />
        <activity
            android:name=".viewHolder.Security"
            android:label="R.label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>